header {
        background: #4F483E;
        padding: 0px 25px 10px 0;
        color: #fff;
        #margin-bottom: 2em;
        z-index: 100;
        opacity: 0.90;
      }

      h4 {
        text-align: center;
      }

      nav {
        float: right;
      }

      a {
        color: #FF7519;
        text-decoration: none;
        font-weight: bold;
      }

      a hover {
        color: #FFF;
        text-decoration: underline;
      }

      .current {
        color: #FFF;
        text-decoration: underline;
      }

      ul {
        list-style: none;
      }

      nav ul li {
        display: inline-block;
        float: left;
        padding: 10px;
      }


      #box {
        display: inline-block;
        #max-width: 80%;
        height: auto;
        padding: 4px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 4px solid #ddd;
        border-radius: 40px;
        width: 800px;
        margin: 250px;
        margin-top: 80px;
        margin-bottom: 80px;
      }
      /*showcase*/

      footer {
        background: #575a5c;
        font: 1.2em "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        letter-spacing: .1em;
        text-align: center;
        width: 100%;
        overflow: hidden;
        opacity: 0.90;
        text-align: center;
      }

      footer p,
      footer h3 {
        color: #FFF;
      }

      footer p a {
        color: #FFF;
        text-decoration: none;
      }



      footer.second {
        height: 30px;
        padding: 0px 0px 25px 0;
        border-top: 3px solid #888;
        background-color: #686D7B;
        text-align: center;
        opacity: 0.95;
        display: inline-block;
      }
